.games-main {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.games-cards {
  width: 80%;
  margin: auto;
}
.view-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.games-title {
  display: flex;
  justify-content: center;
}

.games-bg {
  background-image: url("../../assets/background/Ellipse\ 1539.png");
  position: absolute;
  background-size: contain;
  width: 200%;
  height: 200%;
  bottom: -50%;
  left: 50%;
}

@media (max-width: 768px) {
  .games-main {
    background-image: url("../../assets/background/bg3.png");
    background-size: cover;
  }
  .games-cards {
    width: 100%;
  }
  .games-bg {
    display: none;
  }
  .games-title {
    font-size: 30px;
  }
}
