.custom-button {
  padding: 11px 25px 12px 25px;
  cursor: pointer;
  min-width: 180px;
  border-radius: 5px;
  font-size: 22px;
}
.custom-button:hover {
  opacity: 0.8;
}
.transparent-button {
  background: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-image: linear-gradient(0deg, rgba(235, 235, 235, 0.3) 0%, rgba(235, 235, 235, 1) 100%, transparent 100%, transparent 40%, rgba(235, 235, 235, 0.1) 40%, rgba(235, 235, 235, 0.1) 60%, transparent 60%, transparent 100%);
  border-image-slice: 1 1 1 1;
  transition: border-image 0.8s;
}

.transparent-button:hover {
  border-image: linear-gradient(90deg, rgba(6, 238, 224, 0.3) 0%, rgba(6, 238, 224, 1) 100%, transparent 100%, transparent 60%, rgba(6, 238, 224, 0.3) 60%, rgba(6, 238, 224, 0.3) 100%);
  border-image-slice: 1 1 1 1;
}


.filled-button {
  background-color: rgba(6, 238, 224, 1);
  border: none;
}

@media (max-width: 468px) {
  .custom-button {
    font-size: 18px;
  }
}
