.main {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.layer1 {
  background-image: url("../../assets/background/Ellipse\ 1539.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  animation: swapLayers2 10s infinite; /* Adjust the duration as needed */
  animation-timing-function: linear;
}
.layer2 {
  background-image: url("../../assets/background/Ellipse\ 1538.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 50%;
  animation: swapLayers 10s infinite; /* Use the same duration as for layer1 */
  animation-timing-function: linear;
}
.main-content {
  width: 100%;
  display: flex;
}
.main-title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.left-title {
  display: flex;
  justify-content: flex-start;
}
.right-title {
  display: flex;
  justify-content: flex-end;
  animation: flicker 6s infinite;
}
.description {
  color: #fff;
  margin-top: 80px;
  width: 50%;
}
.actions {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  z-index: 9999;
}

@media (max-width: 968px) {
  .title img {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .description {
    width: 95%;
  }
  .main {
    height: auto;
  }
  .layer1, .layer2 {
    display: none;
  }
}

@media (max-width: 468px) {
  .actions {
    gap: 5px;
    margin-bottom: 60px;
  }
  .title {
    width: 100%;
  }
}

@keyframes flicker {
  0%, 50% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}



@keyframes swapLayers {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%); /* Swap positions */
    }
  }

  @keyframes swapLayers2 {
    0%,
   100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%); /* Move layer1 to the right and layer2 to the left */
    }
  }