.contact-main {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.contact-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contacts-form input,
.contacts-form textarea {
  height: auto;
  width: 610px;
  background: transparent;
  border: 1px solid #06eee0;
  padding: 15px 20px 15px 20px;
  color: #bdbcbc;
  position: relative;
}
.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  color: #bdbcbc;
}
.contacts-form textarea {
  height: 281px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.additinal-border {
  position: relative;
  background-color: transparent;
}
.bottom-border,
.bottom-border-area {
  position: relative;
}

@media (max-width: 1200px) {
  .contactus-img {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .contacts-form input,
  .contacts-form textarea {
    max-width: 480px;
  }
}

@media (max-width: 468px) {
  .contacts-form input,
  .contacts-form textarea {
    max-width: 230px;
  }
  .contactus-img {
    display: none;
  }
  .contact-main {
    padding-top: 40px;
  }
}
