.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  padding-top: 48px;
  max-width: 345px;
  margin: 0 auto;
}
.view-more {
  margin-bottom: 50px;
  font-size: 20px;
  color: #f8fffc;
  background: transparent;
  border: none;
  cursor: pointer;
}
.view-more:hover {
  color: #edcf65;
}


.left-animation {
  animation: slideFromLeft 1s ease-in-out;
}

.right-animation {
  animation: slideFromRight 1.5s ease-in-out;
}

@media (max-width: 500px) {
  .card {
    width: 80% !important;
  }
  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .games-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .card {
    width: 250px;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1400px) {
  .card img{
    width: 240px;
  }
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}