.header {
  height: 150px;
  display: flex;
  align-items: center;
  margin-top: -100px;
  z-index: 9999;
}
.header-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.logo-block img {
  max-width: 150px;
  max-height: 60px;
}
.logo-block {
  z-index: 99999999;

}
.list {
  color: #f8fffc;
  display: flex;
  align-items: center;
}
.list ul {
  display: flex;
  gap: 35px;
  align-items: center;
}
.list ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.list li:hover {
  color: #06EEE0;
}

.vip-button {
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background: #06EEE0;
  color: #111111;
}

.vip-button:hover {
  opacity: 0.8;
}

.mobile-list {
  display: none !important;
}

.opened-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: #111;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 999;
}
.opened-menu li {
  font-size: 26px !important;
  color: #06EEE0;
  position: relative;
}

.close-menu {
  position: absolute;
  top: 35px;
  right: 30px;
}

@media (max-width: 768px) {
  .header {
    margin-top: 0px;
  }
  .logo-block img {
    max-width: 150px;
  }
  .list ul li {
    font-size: 16px;
  }
  .desktop-list {
    display: none !important;
  }
  .mobile-list {
    display: flex !important;
  }
}

@media (max-width: 468px) {
  .header-content {
    width: 90%;
  }
  .list ul {
    gap: 25px;
  }
  .list ul li {
    font-size: 10px;
  }
  .logo-block img {
    max-width: 120px;
  }
}
