.footer {
    height: 150px;
    width: 100%;
    background-color: #111111;
    display: flex;
    align-items: center;
}
.footer-content {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.mailto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.footer-content img {
    max-width: 150px;
    max-height: 60px;
}
.mailto a {
    font-size: 20px;
    color: #F8FFFC;
}
.mailto a:hover {
    color: #06EEE0;
}
.socials {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.socials a:hover path {
    fill: #06EEE0;
}

@media (max-width: 468px) {
    .footer-logo {
        max-width: 100px !important;
    }
    .footer-content {
        width: 90%;
    }
    .mailto a {
        font-size: 12px;
    }
    .socials {
        gap: 10px;
    }
    .socials a img {
        max-width: 25px;
    }
}