.vip-main {
  width: 100%;
  position: relative;
}
.vip-hidden {
  overflow: hidden;
}
.vip-title {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.vip-text {
  display: flex;
  justify-content: center;
}
.vip-text p {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.vip-games {
  display: flex;
  justify-content: center;
}
.left-games {
  animation: slideFromLeft 1s ease-in-out;
}
.right-games {
  animation: slideFromRight 1s ease-in-out;
}

.vip-desc {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}
.vip1 {
    animation: slideFromBottom 2s ease-in-out;
}
.vip2 {
    animation: slideFromBottom 3s ease-in-out;
}
.vip3 {
    animation: slideFromBottom 4s ease-in-out;
}

.vip-bg {
  background-image: url("../../assets/background/Ellipse\ 1538.png");
  position: absolute;
  background-size: contain;
  width: 200%;
  height: 200%;
  top: -20%;
  left: 50%;
}

@media (max-width: 768px) {
  .vip-main {
    min-height: 180vh;
    background-image: url("../../assets/background/bg2.png");
    background-size: cover;
  }
  .vip-games img {
    max-width: 150px;
  }
  .vip-desc {
    flex-direction: column;
    align-items: center;
  }
  .vip-desc img {
    max-width: 150px;
  }
  .vip-text p {
    text-align: center;
  }
  .vip1 {
    animation: slideFromRight 2s ease-in-out;
  }
  .vip2 {
    animation: slideFromRight 3s ease-in-out;
  }
  .vip3 {
    animation: slideFromRight 4s ease-in-out;
  }
  .vip-bg {
    display: none;
  }
}

@media (max-width: 1550px) {
  .vip-games {
    align-items: center;
  }
  .vip-games img {
    max-width: 200px;
    height: 80px;
  }
  .vip-desc {
    max-width: 80%;
    margin: auto;
  }
  .vip-desc img {
    max-width: 400px;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(300%);
  }
  to {
    transform: translateX(0);
  }
}
