@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/GothamBlack.otf') format('otf');
}

body {
  background-image: url("./assets/background/Animation.png");
  overflow-x: hidden;
  background-size: auto;
}
