@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/GothamBlack.otf') format('otf');
}

body {
  overflow-x: hidden !important;
  background-size: auto;
}
.App {
  background: #111;
}
.background2 {
  background-image: url("./assets/background/bg3.png");
}
.background3 {
  background-image: url("./assets/background/bg3.png");
}